<div>
    <h1> Baza filmów
        <form action="search/" method="POST">
            {% csrf_token %}
            Wyszukiwarka <input name="searched" type="text" placeholder="Wyszukaj film">
            <input type="submit" value="Szukaj">
        </form>
    </h1>

</div>
<div style="clear:both"></div>
<div style="width:200px; float:left">
    <h3> Menu </h3>
    {% for gat in gatunki  %}
        <p><a href = "/gatunek/{{ gat.id }}"> {{ gat.nazwa }} </a> </p>
    {% endfor %}
</div>
<div style="width:700px; float:left">
    {% block film %} {% endblock film %}
</div>
<div style="clear:both"></div>